body{
   padding: 0px;
   margin: 0px;
   width: 100%;
   box-sizing: border-box;
   display: block;
}
.container{
   display: block;
}
div{
   display: block;
}
.first-grid-container{
   width: 1500px;
   margin-left: 50px;
   margin-top: 50px;
   display: grid;
   grid-template-columns: (1fr 1fr 1fr 1fr);
   grid-template-rows:(auto auto auto);
   gap: 33px 55px;
   grid-template-areas:
   "first first second"
   "first first third"
   "fourth fifth sixth";
}
.first-image{
   grid-area: first;
   
}
.second-image{
   grid-area:second ;
   width: 100%;
}
.third-image{
   grid-area: third;
   
}
.fourth-image{
   grid-area: fourth;
   
}
.fifth-image{
   grid-area: fifth;
}
.second-grid-container{
   max-width: 1200px;
   min-width: 1200px;
   
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  gap: 0px 0px;

  grid-template-areas:
    "seven eight nine ten"
    "eleven twelve thirteen fourteen";
    filter: brightness(45%);
}

.seven{
grid-area: seven;
}
.eight{
   grid-area: eight;
}
.nine{
   grid-area: nine;
}
.ten{
   grid-area: ten;
}
.eleven{
   grid-area: eleven;
}
.twelve{
   grid-area: twelve;
}
.thirteen{
   grid-area: thirteen; 
}
.fourteen{
   grid-area: fourteen;
}

.eleven,
.twelve,
.thirteen,
.fourteen{
   position: absolute;
   top: -7px;
}
.second-grid-container{
   position: relative;
   top: -4px;
}
.seven:hover{
   filter:brightness(100%);
}
.eight:hover{
   filter:brightness(100%);
}
.nine:hover{
   filter:brightness(100%);
}
.ten:hover{
   filter:brightness(100%);
}
.eleven:hover{
   filter:brightness(100%);
}
.twelve:hover{
   filter:brightness(100%);
}
.thirteen:hover{
   filter:brightness(100%);
}
.fourteen:hover{
   cursor: pointer;
   
}
.button{
   font-size: 30px;
   display: grid;
   width: auto;
   height: 20px;
}









    
